.flex-row-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row-spaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-spaceAround {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
